.button {
    background-color: white;
    border: none;
    padding: 4px 5px;
    border-radius: .5rem;
    font-size: 1rem;
    font-weight: bold;
    color: gray;
    box-shadow: 2px 2px 5px black;
    width: 20%;
    cursor: pointer;
}

.button:hover {
    background-color: aliceblue;
}